
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- -----------------------Place Order Section----------------------- -->

    <section class="place_order_section">
        <div class="place_order_sec">
            {% for message in messages %}
            <div class="{{message.tags}} container">
                <p>{{message}}</p>
            </div>
            {% endfor %}

            <div class="place_order_container container">
                <div class="left">
                    <h4>Place Your Order</h4>
                    <div class="left_img">
                        <img src="{% static "./img/place order img.png" %}" alt="">
                    </div>
                    <ul class="contact_details">
                        <li><i class="uil uil-phone"></i><a href="https://api.whatsapp.com/send?phone=03326687262&text=Welcome to MDZWeb" target="_blank"><p>+92 3326687262</p></a></li>
                        <li><i class="uil uil-envelope"></i><a href="mailto:mdzweb@gmail.com"><p>mdzweb@gmail.com</p></a></li>
                    </ul>
                </div>
                <div class="right">
                    <form action="{% url "placeorder" %}" method="POST">
                        {% csrf_token %}
                        <div class="details">
                            <label for="f_name">First Name</label>
                            <input type="text" name="first_name_v" id="f_name" Required>
                        </div>

                        <div class="details">
                            <label for="l_name">Last Name</label>
                            <input type="text" name="last_name_v" id="l_name" Required>
                        </div>
                        <div class="details">
                            <label for="email_id">Email</label>
                            <input type="email" name="email_v" id="email_id" Required>
                        </div>

                        <div class="details">
                            <label for="contact_id">Contact No</label>
                            <input type="text" name="contact_v" id="contact_id" Required>
                        </div>

                        <div class="details sel_service_detail">
                            <label for="service_id">Service Type</label>
                            <select name="service_v" id="service_id" Required>
                                <option value="select_ser" selected="true" disabled="disabled">Select The Service Type</option>
                                <option value="Web Designs">Web Designs</option>
                                <option value="ECommerce Website">ECommerce Website</option>
                                <option value="Business Website">Business Website</option>
                                <option value="Portfolio Website">Portfolio Website</option>
                                <option value="Personal  Website">Personal  Website</option>
                                <option value="Event Website">Event Website</option>
                                <option value="School Website">School Website</option>
                                <option value="Custome Website">Custome Website </option>
                                <option value="Graphic Designs">Graphic Designs</option>
                            </select>
                        </div>
                        
                        <div class="details message_section">
                            <label for="order_id">Order Details</label>
                            <textarea name="order_details_v" id="order_id" cols="30" rows="10" Required></textarea>
                        </div>

                        <button type="submit"> Place Order</button>

                        
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- -----------------------WhatsApp Section----------------------- -->

    {% include 'includes/whatsapp_contact.html' %}

    <!-- -----------------------Footer----------------------- -->
{% endblock  %}